body {
  margin: 0;
  padding: 0;
  /* font-size: 70%; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: rgb(214, 214, 214);
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

@media only screen and (min-width: 320px) {
  .container {
    max-width: 65%;
  }
  .search {
    width: 100%;
  }

  .name-list{
    margin-bottom: 10px;
    width: 88%;
  }
  .tasks{
    width: 100%;
  }
  .form {
    width: 100%;
  }
}

@media only screen and (min-width: 450px) {
  .container {
    max-width: 45%;
  }
  .name-list{
  width: 86%;
  }
  .tasks{
   width: 100%;
  }
  .search{
    width: 80%;
  }
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.search {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  object-fit: contain;
}

.tasks, 
.name-list {
  object-fit: contain;
  padding: 15px 10px;
  outline: none;
  text-align: center;
}


.li-container {
  background-color: white;
  width: 80%;
  color: darkslategray;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  padding-left: 5%;
  align-items: center;
}

li p {
  margin: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.btn-delete {
  text-align: center;
  margin-left: auto;
  border: none;
  background-color: #e31746;
  color: white;
  font-weight: bold;
  padding: 5px;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 17%;
  font-size: 100%;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: lightseagreen;
}

.btn-add {
  object-fit: contain;
  padding: 5px 15px;
  border: none;
  color: white;
  font-family: fantasy;
  background-color: teal;
  font-size: 1.4rem;
  outline: none;
}

.btn-add:hover {
  cursor: pointer;
  background-color: darkcyan;
}

.btn-print {
  background-color: teal;
  border-radius: 10px;
  padding: 2%;
  width: 40%;
  color: white;
  font-weight: bold;
}

.btn-print:hover {
  cursor: pointer;
  background-color: darkcyan;
}
.empty {
  color: darkslategrey;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.printtask {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.containerprint {
  margin: 3%;
  max-width: 40%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
}

.divtitle {
  text-align: center;
}
h3 {
  text-decoration: underline;
}
